<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search"
            aria-describedby="basic-addon2" #textCriterio>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="searchCriterio(textCriterio.value)">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-4 py-2" *ngFor="let item of paisesList">
        <div class="card">
            <img class="card-img-top" width="300" height="300" [src]="item.flag" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <b>Capital: {{item.capital}}</b><br>
                    <b>Region: {{item.region}}</b><br>
                    <b>Población: {{item.population | number}}</b>
                </p>
                <small class="text-muted" *ngFor="let coord of item.latlng; first as isFirst">
                    {{coord}} <span *ngIf="isFirst">|</span>
                </small>
                <br>
                <div class="d-flex justify-content-center">
                    <a href="https://www.google.com/maps/@{{item.latlng}},16z?hl=es-ES"
                        class="btn btn-primary text-center"><i class="fas fa-map-marker-alt"></i>&nbsp;Ver mapa</a>
                </div>
            </div>
        </div>
    </div>
</div>